.first_row{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    background-image: url(https://image.freepik.com/free-vector/abstact-hexagon-background-memphis-style_1017-31955.jpg);
    color: white;
    background-size: cover;

}

.heading1{
    text-align: center;
    color: white;
    padding-right: 20px;
}
p{
    font-size: 25px;
    font-family: sans-serif;
}
.heading2{
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 8vh;
    margin-left: 240px;
   
}
.col-lg-6> img{
    padding-bottom: 20px;
    width: 700px;
    height: 600px;
    border-radius: 50px;
}
.gallery >div>h1{
    text-align: center;
    font-size: 10vh;

    
}
.Images{
    display: flex;
    justify-content: space-around;
    
}
.option {
    padding: 10px 20px 20px 20px;
    text-align: center;
    
   

}
.image{
    border-radius: 50px;
}
.option >button{
    color: white;
    background-color: teal;
    border:0px;
    border-radius: 30px;

    
}
.images2{
    display: flex;
    justify-content: space-around;
}
.Images >li{
    list-style-type: none;
}

.blue{
    display: flex;
    justify-content: space-around;
}
.green{
    display: flex;
    justify-content: space-around;
}
.btnbtn{
    margin-left: 200px;
    margin-top: 20px;
    

}

