*{
    box-sizing: border-box;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background:  linear-gradient(to top left, #6666ff 0%, #cc0066 100%);
    color: white;
    
}
.nav-links{
    width: 40%;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    list-style: none;
    color:white;
}
.nav-links >li{
    color: white;
}